/*--------------------- MEDIA QUERIES ---------------------*/

@media only screen and (max-width: 768px) {
    iframe {
        margin: 0 0 25px 0;
    }

    iframe:last-child {
        margin: 0;
    }
}
