/*SIDEBAR*/

.sidebar {
	background-color: rgba(250, 250, 250, 0.95);
	padding: 15px;
}

/*TYPOGRAFIE*/

p.artiesten, p.prijs, {
	margin: 0;
	font-size: 1.2rem;
	letter-spacing: 0.05rem;
	color: #d2d2d2;
}

ul {
	list-style: none;
	padding-left: 20px;
}

ul li a {
	color: #111111;
	text-decoration: none;

}

ul li a:hover {
	color: #FEE500;
	cursor: pointer;
	transition: 0.2s ease-out;

}

.store {
	padding-top: 25px;
}

/*PRODUCTS*/

.products {
	background-color: rgba(250, 250, 250, 0.95);
	padding: 15px;
}

.product-container {
	margin-bottom: 35px;
}

img.album:hover {
	transform: scale(1.05);
	transition: 0.2s ease-out;
}

/*TYPOGRAFIE*/

p.album-artiest {
	color: #d2d2d2;
	font-size: 1em;
}

p.album-naam {
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 10px;
}

a.album-prijs {
	color: #111111;
}

a.album-prijs:hover {
	color: #FEE500;
	font-weight: 600;
	transition: 0.2s ease-out;
}

.nine.columns {

}

/*MEDIA QUERIES*/

@media only screen and (max-width: 768px) {

}